# Local GTA III configuration
.env.gta3

### macOS

# Finder metadata, thumbnails and custom folder icons
.DS_Store
._*
Icon

### Windows

# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk
